

.button{
    background-color: aquamarine;
    border-radius: 20px;
    border: blue solid 2px;
    padding: 10px 20px;
    cursor : pointer;
}
.button:active{
    background-color: blue;
    color: white;
    font-size : 17px;
}
